{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI ROOTKey",
    "description": "Your API of choice for creating, managing and validating information easily and securely!",
    "termsOfService": "https://www.rootkey.ai/legal/privacy-policy",
    "contact": {
      "name": "ROOTKey",
      "url": "https://www.rootkey.ai/contact",
      "email": "support@rootkey.ai"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://rootkey.westeurope.cloudapp.azure.com/auth-service/api-v1/"
    },
    {
      "description": "Staging",
      "url": "https://dev-rootkey.westeurope.cloudapp.azure.com/auth-service/api-v1/"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "Through this route users are able to check the status of api on selected version",
        "security": [],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "[Auth service]: Status OK"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Version Not Found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Resource not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/creation/wallet": {
      "post": {
        "tags": [
          "Platform"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/walletCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created successfully",
            "content": {
              "application/json": {
                "example": {
                  "name": "My first wallet",
                  "description": "First wallet created throught ROOTKey API",
                  "walletAddress": ""
                },
                "schema": {
                  "$ref": "#/components/schemas/NewWallet"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Wallet not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/creation/smart-contract": {
      "post": {
        "tags": [
          "Platform"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownerWallet": {
                    "description": "The name of the wallet",
                    "type": "string"
                  },
                  "type": {
                    "description": "The description of the wallet to help you organize your data",
                    "type": "string",
                    "enum": [
                      "rootkey"
                    ]
                  },
                  "subType": {
                    "description": "The description of the wallet to help you organize your data",
                    "type": "string",
                    "enum": [
                      "sec1"
                    ]
                  },
                  "privateKey": {
                    "description": "The description of the wallet to help you organize your data",
                    "type": "string"
                  },
                  "expirationDate": {
                    "description": "The description of the wallet to help you organize your data",
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created successfully"
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Wallet not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/management/list-Transactions": {
      "post": {
        "tags": [
          "Platform"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions relative to a wallet",
            "content": {
              "application/json": {
                
                "schema": {
                  "$ref": "#/components/schemas/listTransactionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Wallet not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/management/list-nfts": {
      "post": {
        "tags": [
          "Platform"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listNftsRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Wallet not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/validation/compare": {
      "post": {
        "tags": [
          "Platform"
        ],
        "summary": "Validate file",
        "description": "Compare file against your trustable file smart-contract",
        "requestBody": {
          "description": "Smart-contract info and file",
          "content": {
            "Multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompareSmartContractRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Result of the validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareSmartContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Client bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/wallets/${walletAddress}": {
      "delete": {
        "tags": [
          "Platform"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletAddress",
            "description": "Wallet Address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Wallet not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DAMC"
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/${assetId}/maintenances": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAssetMainetenancesRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/${assetId}": {
      "delete": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Wallet": {
        "required": [
          "walletAddress",
          "privateKey"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "walletAddress": {
            "description": "The address of the wallet",
            "type": "string"
          },
          "privateKey": {
            "description": "Private Key of the wallet to allow you create, delete and transfer data",
            "type": "string"
          }
        }
      },
      "NewWallet": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "walletAddress": {
            "description": "The address of the wallet",
            "type": "string"
          }
        }
      },
      "walletCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          }
        }
      },
      "smartContractCreationRequest": {
        "type": "object",
        "properties": {
          "ownerWallet": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "type": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string",
            "enum": [
              "rootkey"
            ]
          },
          "subType": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string",
            "enum": [
              "sec1"
            ]
          },
          "privateKey": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "expirationDate": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          }
        }
      },
      "listTransactionsRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          },
          "initialDate": {
            "description": "",
            "type": "string"
          },
          "finalDate": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listTransactionsResponse": {
        "type": "object",
        "properties": {
          "to": {
            "description": "",
            "type": "string"
          },
          "from": {
            "description": "",
            "type": "string"
          },
          "hash": {
            "description": "",
            "type": "string"
          },
          "transactionFee": {
            "description": "",
            "type": "number"
          },
          "price": {
            "description": "",
            "type": "string"
          },
          "timestamp": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listNftsRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          }
        }
      },
      "CompareSmartContractRequest": {
        "required": [
          "file",
          "ownerWallet",
          "type",
          "subType"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "example": "11ce9548-6548-4388-8efb-75716883239a"
          },
          "file": {
            "type": "object"
          },
          "ownerWallet": {
            "type": "string",
            "example": "0xL2mn4B8id4PMU5DQZq4WZgjTDtuEKCGvn1389Kxz8b9Jqf9TaA56"
          },
          "tokenId": {
            "type": "string",
            "description": "Id of your trustable file",
            "example": null
          },
          "type": {
            "type": "string",
            "example": "rootkey"
          },
          "subType": {
            "type": "string",
            "example": "sec1"
          }
        }
      },
      "CompareSmartContractResponse": {
        "properties": {
          "validation": {
            "type": "object",
            "properties": {
              "ownership": {
                "type": "boolean"
              },
              "integrity": {
                "type": "boolean"
              },
              "validity": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "createAssetRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listAssetMainetenancesRequest": {
        "type": "object",
        "properties": {
          "assetId": {
            "description": "Asset Identifier",
            "type": "string"
          }
        }
      },
      "createAssetMainetenancesRequest": {
        "type": "object",
        "properties": {
          "hashFile": {
            "description": "Asset Identifier",
            "type": "string"
          },
          "expirationDate": {
            "description": "",
            "type": "string",
            "required": [
              "false"
            ]
          }
        }
      },
      "deleteAssetMainetenanceRequest": {},
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}