{
  "openapi": "3.0.1",
  "info": {
    "title": "ROOTKey Documentation",
    "description": "Your API of choice for creating, managing and validating information easily and securely!",
    "termsOfService": "https://www.rootkey.ai/legal/privacy-policy",
    "contact": {
      "name": "ROOTKey",
      "url": "https://www.rootkey.ai/contact",
      "email": "support@rootkey.ai"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://rootkey.westeurope.cloudapp.azure.com/auth-service/api-v1/"
    },
    {
      "description": "Staging",
      "url": "https://dev-rootkey.westeurope.cloudapp.azure.com/auth-service/api-v1/"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "Through this route users are able to check the status of api on selected version",
        "security": [],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "[Auth service]: Status OK"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Version Not Found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Resource not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/admins/": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/adminsCreationRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/admins/{adminWallet}": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "adminWallet",
            "description": "Admin address with permissions to list all the admins",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DAMC Workers",
            "content": {
              "application/json": {
                "example": {
                  "workers": [
                    "Worker 1",
                    "Worker 2",
                    "Worker 3",
                    "Worker 4"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/admins/{adminWallet}/remove/{removedAdmin}": {
      "delete": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "adminWallet",
            "description": "Admin address with permissions to list all the admins",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "removedAdmin",
            "description": "Admin address to be removed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DAMC"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assetCreationRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/{adminWallet}": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "adminWallet",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assetCreationRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/asset/{assetId}/viewers/": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/associateViewerToAssetRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/asset/{assetId}/viewers/{viewerWallet}": {
      "put": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {}
          },
          {
            "in": "path",
            "name": "viewerWallet",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/disassociateViewerToAssetRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/{assetId}": {
      "delete": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/{assetId}/maintenances/{viewerWallet}": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "The asset identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewerWallet",
            "in": "path",
            "description": "Viewer with permissions to list all the asset maintenances",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenances of a specific asset",
            "content": {
              "application/json": {
                "example": {
                  "maintenances": [
                    {
                      "assetId": "1",
                      "workerAddress": "0x32df61d9074e3A1c63FcfDb034C12c58c4e75e3D",
                      "maintenancehash": "9884861f95fe04e29c1e669bee92f670cf9101c95e87ad7b8b2108d8564f1baa"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Maintenance"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/assets/{assetId}/maintenances": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAssetMainetenancesRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Asset not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/workers": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workerCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Worker created successfully",
            "content": {
              "application/json": {
                "example": {
                  "name": "John Smith",
                  "workerAddress": ""
                },
                "schema": {
                  "$ref": "#/components/schemas/NewWallet"
                }
              }
            }
          }
        }
      }
    },
    "/damc/workers/contract": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/damcWorkerCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Worker added successfully",
            "content": {
              "application/json": {
                "example": {
                  "adminWallet": "0x32df61d9074e3A1c63FcfDb034C12c58c4e75e3D",
                  "workerWallet": "0x125Ad1988Cf1Ec8c2Dd7357621ad825603768365"
                }
              }
            }
          }
        }
      }
    },
    "/damc/workers/{adminWallet}": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "name": "adminWallet",
            "in": "path",
            "description": "Admin wallet with permissions to list all DAMC Workers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Worker not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Worker not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/worker/{workerAddress}": {
      "delete": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workerAddress",
            "description": "Wallet address to be removed from the list of DAMC workers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Worker not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Worker not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/worker/{workerAddress}/assets/": {
      "post": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workerAddress",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/associateWorkerToAssetRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Worker not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/worker/{workerAddress}/maintenances": {
      "get": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workerAddress",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "404": {
            "description": "Worker not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Worker not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/damc/worker/{workerAddress}/assets/{assetId}": {
      "put": {
        "tags": [
          "DAMC"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workerAddress",
            "required": true,
            "schema": {}
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/diassociateWorkerFromAssetRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "example": {
                  "error": 404,
                  "message": "Worker not found!"
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "damcWorkerCreationRequest": {
        "required": [
          "adminWallet",
          "workerWallet"
        ],
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "A previous admin with the rights to add new workers",
            "type": "string"
          },
          "workerWallet": {
            "description": "The worker to be added to damc contract",
            "type": "string"
          }
        }
      },
      "Wallet": {
        "required": [
          "walletAddress",
          "privateKey"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "walletAddress": {
            "description": "The address of the wallet",
            "type": "string"
          },
          "privateKey": {
            "description": "Private Key of the wallet to allow you create, delete and transfer data",
            "type": "string"
          }
        }
      },
      "NewWallet": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "walletAddress": {
            "description": "The address of the wallet",
            "type": "string"
          }
        }
      },
      "associateWorkerToAssetRequest": {
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "A previous admin with the rights to associate workers with assets",
            "type": "string"
          },
          "assetId": {
            "description": "The identifier of the asset to be associated with the worker",
            "type": "string"
          }
        }
      },
      "diassociateWorkerFromAssetRequest": {
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "A previous admin with the rights to disassociate workers from assets",
            "type": "string"
          }
        }
      },
      "disassociateViewerToAssetRequest": {
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "The address of the admin with the rights to disassociate viewers from assets",
            "type": "string"
          }
        }
      },
      "associateViewerToAssetRequest": {
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "The address of the admin with the rights to associate viewers with assets",
            "type": "string"
          },
          "viewerWallet": {
            "description": "The address of the viewer to whitelist to access the asset's data",
            "type": "string"
          }
        }
      },
      "assetCreationRequest": {
        "type": "object",
        "properties": {
          "assetId": {
            "description": "The identifier of the new asset",
            "type": "string"
          },
          "adminWallet": {
            "description": "The address of the admin with the rights to create new assets",
            "type": "string"
          }
        }
      },
      "workerCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of worker",
            "type": "string"
          },
          "description": {
            "description": "Notes relative to the worker (Optional)",
            "type": "string"
          }
        }
      },
      "walletCreationRequest": {
        "type": "object",
        "properties": {
          "walletName": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "description": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          }
        }
      },
      "smartContractCreationRequest": {
        "type": "object",
        "properties": {
          "ownerWallet": {
            "description": "The name of the wallet",
            "type": "string"
          },
          "type": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string",
            "enum": [
              "rootkey"
            ]
          },
          "subType": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string",
            "enum": [
              "sec1"
            ]
          },
          "privateKey": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          },
          "expirationDate": {
            "description": "The description of the wallet to help you organize your data",
            "type": "string"
          }
        }
      },
      "listTransactionsRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          },
          "initialDate": {
            "description": "",
            "type": "string"
          },
          "finalDate": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listTransactionsResponse": {
        "type": "object",
        "properties": {
          "to": {
            "description": "",
            "type": "string"
          },
          "from": {
            "description": "",
            "type": "string"
          },
          "hash": {
            "description": "",
            "type": "string"
          },
          "transactionFee": {
            "description": "",
            "type": "number"
          },
          "price": {
            "description": "",
            "type": "string"
          },
          "timestamp": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listNftsRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          }
        }
      },
      "CompareSmartContractRequest": {
        "required": [
          "file",
          "ownerWallet",
          "type",
          "subType"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "example": "11ce9548-6548-4388-8efb-75716883239a"
          },
          "file": {
            "type": "object"
          },
          "ownerWallet": {
            "type": "string",
            "example": "0xL2mn4B8id4PMU5DQZq4WZgjTDtuEKCGvn1389Kxz8b9Jqf9TaA56"
          },
          "tokenId": {
            "type": "string",
            "description": "Id of your trustable file",
            "example": null
          },
          "type": {
            "type": "string",
            "example": "rootkey"
          },
          "subType": {
            "type": "string",
            "example": "sec1"
          }
        }
      },
      "CompareSmartContractResponse": {
        "properties": {
          "validation": {
            "type": "object",
            "properties": {
              "ownership": {
                "type": "boolean"
              },
              "integrity": {
                "type": "boolean"
              },
              "validity": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "createAssetRequest": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "description": "",
            "type": "string"
          }
        }
      },
      "listAssetMainetenancesRequest": {
        "type": "object",
        "properties": {
          "assetId": {
            "description": "Asset Identifier",
            "type": "string"
          }
        }
      },
      "createAssetMainetenancesRequest": {
        "required": [
          "workerWallet",
          "hashFile"
        ],
        "type": "object",
        "properties": {
          "workerWallet": {
            "description": "The address of the worker responsible for the maintenance",
            "type": "string"
          },
          "hashFile": {
            "description": "Asset Identifier",
            "type": "string"
          },
          "fileUrl": {
            "description": "The URL for the file with the maintenance report",
            "type": "string"
          }
        }
      },
      "adminsCreationRequest": {
        "type": "object",
        "properties": {
          "adminWallet": {
            "description": "Address of a previous admin with the rights to add new admins",
            "type": "string"
          },
          "newAdmin": {
            "description": "Address of the admin wallet to be added",
            "type": "string"
          }
        }
      },
      "deleteAssetMainetenanceRequest": {},
      "Maintenance": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "integer",
            "format": "int32"
          },
          "workerAddress": {
            "type": "string"
          },
          "maintenancehash": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}